$xs: 479px;
$sm: 480px;
$md: 768px;
$lg: 992px;

$maxScreenWidth: 1000px;

$COLOR_WHITE: #FFFFFF;
$COLOR_BG_GRAY: #E5E5E5;

body {
    background-color: $COLOR_BG_GRAY;
}

div.page-home {

    div.banner {
        div.banner-text {
            position: absolute;

            p {
                color: $COLOR_WHITE;
                margin: 0;
            }
            p.banner-text1 {
                font-size: 54px;
                font-weight: bold;
            }
            p.banner-text2 {
                float: right;
                font-size: 26px;
                font-weight: lighter;
            }

            @media(min-width: $lg) {
                top: 80px;
                left: 40%;
                p.banner-text1 {
                    font-size: 76px;
                    font-weight: bold;
                }
                p.banner-text2 {
                    float: right;
                    font-size: 40px;
                    font-weight: lighter;
                }
            }
            @media(min-width: $md) and (max-width: $lg - 1) {
                top: 80px;
                left: 48%;
            }
            @media(min-width: $sm) and (max-width: $md - 1) {
                top: 70px;
                left: 40%;
                p.banner-text1 {
                    font-size: 42px;
                }
            }
            @media(max-width: $xs) and (max-width: $sm - 1) {
                top: 36px;
                left: 37%;
                p.banner-text1 {
                    font-size: 34px;
                }
            }
        }

        img.banner-image {
            margin: auto;
            max-width: $maxScreenWidth;
            width: 100%;
        }
    }

    nav.navbar {
        max-width: $maxScreenWidth;
        margin: auto;
        border-radius: 0;
    }

    div.content {
        height: 1000px;
    }
}
