$xs: 479px;
$sm: 480px;
$md: 768px;
$lg: 992px;

body {
    background-color: #E5E5E5;
}

div.page-home {
    
    /*  EXPERIMENTAL
    div.banner {
        div.banner-text {
            position: absolute;
            
            p {
                color: white;
                margin: 0;
            }
            p.banner-text1 {
                font-size: 54px;
                font-weight: bold;
            }
            p.banner-text2 {
                float: right;
                font-size: 26px;
                font-weight: lighter;
            }
            
            @media(min-width: $lg) {
                top: 80px;
                left: 40%;
                p.banner-text1 {
                    font-size: 78px;
                    font-weight: bold;
                }
                p.banner-text2 {
                    float: right;
                    font-size: 40px;
                    font-weight: lighter;
                }
            }
            @media(min-width: $md) {
                top: 80px;
                left: 48%;
            }
            @media(min-width: $sm) {
                top: 30px;
                left: 40%;
            }
            @media(max-width: $xs) {
                top: 30px;
                left: 40%;
            }
        }
        
        img.banner-image {
            margin: auto;
            width: 100%;
        }
    }
    */
    
    // Top banner (desktop)
    @media(min-width: $med) {
        div.banner {
            div.banner-text {
                position: absolute;
                top: 80px;
                left: 48%;
                
                p {
                    color: #FFFFFF;
                    margin: 0 auto;
                }
                p.banner-text1 {
                    font-size: 54px;
                    font-weight: bold;
                }
                p.banner-text2 {
                    float: right;
                    font-size: 26px;
                    font-weight: lighter;
                }
                @media(min-width: $lrg) {
                    left: 40%;
                    p.banner-text1 {
                        font-size: 78px;
                    }
                    p.banner-text2 {
                        font-size: 40px;
                    }
                }
            }
            
            img.banner-image {
                max-width: 1000px;
                margin: auto;
            }
        }
    }
    
    // Top banner (mobile)
    @media(max-width: $sm) {
        div.banner {
            div.banner-text {
                position: absolute;
                top: 30px;
                left: 40%;
                
                p {
                    color: #FFFFFF;
                    margin: 0 auto;
                }
                p.banner-text1 {
                    font-size: 32px;
                    font-weight: bold;
                }
                p.banner-text2 {
                    float: right;
                    font-size: 20px;
                    font-weight: lighter;
                }
            }
            
            img.banner-image {
                width: 100%;
                margin: auto;
            }
        }
    }
    
    nav.navbar {
        max-width: 1000px;
        margin: auto;
    }
    
    div.content {
        height: 1000px;
    }
}